body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F2F2F2;
	color: #2B2B2B;
}

h1, h2, h3 {
	color: #1D428A;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
}

section > h2 {
	color: #1D428A;
	padding-bottom: 4px;
}

section > p:first-of-type::first-letter {
	font-size: 1.6em;
	font-weight: bold;
	color: #1D428A;
}
section h2 {
	background-color: #eef3fb;
	padding: 5px;
	border-radius: 5px;
}

section > h3 {
	margin-top: 20px; 
}

table {
	margin: 20px auto;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

p {
	line-height: 1.6;
	text-indent: 2em;
}

header {
	background-color: #1D428A;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
}


nav > ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
}

nav > ul > li {
	margin: 0 12px;
}

nav ul li a {
	display: block;
	padding: 10px 14px;
	text-decoration: none;
	font-weight: bold;
}

.main-nav ul li a:hover {
	background-color: rgb(116, 0, 0);
	border-radius: 6px;
}

main {
	max-width: 1100px;
	margin: auto;
	padding: 20px;
}

section {
	background-color: #FFFFFF;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 14px;
	border-left: 6px solid #C8102E;
}

div {
	background-color: #1d418a0f;
	margin-bottom: 10px;
	padding: 20px;
	border-radius: 14px;
}

.main-nav {
	background-color: #C8102E;
	color: #FFFFFF;
	padding: 6px 0;
	border-radius: 0 0 20px 20px;
	border: 2px solid #1D428A;
	box-shadow: 0 4px 12px rgba(0,0,0,0.25);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	position: sticky;
	top: 0;
	z-index: 1000;
	transition: background-color 0.3s, box-shadow 0.3s;
}

.main-nav a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	padding: 10px 16px;
	border-radius: 6px;
	transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

.main-nav a:hover {
	background-color: #810015;
	transform: scale(1.05);
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.main-nav > ul {
	display: flex;
}

.main-nav > ul .home-menu {
	margin-right: 30px; 
	padding: 8px 12px;
	border-radius: 6px;
}

.sub-nav {
   position: fixed;
   left: 0;
   top: 300px;
   max-height: 300px;
   padding: 8px 6px;
   background-color: #FFFFFF;
   border: 2px solid #1D428A;
   border-radius: 10px;
   overflow-y: auto;
   z-index: 1000;
   min-width: 120px;
   max-width: 135px;
   transition: background-color 0.3s, box-shadow 0.3s;
}

.sub-nav ul {
	list-style: decimal;        
	margin: 0;
	padding: 0 10px;           
	display: block;             
	max-height: 90vh;           
	overflow-y: auto;           
}

.sub-nav ul li {
	counter-increment: h2-counter-sub; 
	margin-bottom: 10px;
}

.sub-nav ul li a::before {
	font-weight: bold;
	margin-right: 4px;
}


.sub-nav ul li a {
	text-decoration: none;
	font-weight: bold;
	font-size: 0.80rem;
	color: #1D428A;
	display: block; 
	max-width: 100%; 
	padding: 6px 6px;
	border-radius: 10px;
	white-space: normal;
	overflow: visible;
}

.sub-nav ul li a:hover {
	background-color: #1D428A;
	color: #FFFFFF;
}


article {
	margin-top: 15px;
}

figure {
	margin: 20px auto;
	text-align: center;
	background-color: #F2F2F2;
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #1D428A;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

figure img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}

figcaption {
	margin-top: 8px;
	font-style: italic;
	color: #1D428A;
}

table {
	border: 1px solid #1D428A;
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	background-color: #FFFFFF;
	border: 1px solid #1D428A;
	border-radius: 10px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

thead {
	background-color: #1D428A;
	color: #FFFFFF;
}

th, td {
	border: 1px solid #1D428A;
	padding: 10px;
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: #F2F2F2;
}

caption {
	caption-side: bottom;
	padding-top: 8px;
	font-style: italic;
}


strong {
	color: #C8102E;
}

section em {
	color: #1D428A;
}

#haut-page {
	scroll-margin-top: 80px;
}

footer {
	background-color: #1D428A;
	text-align: center;
	padding: 15px;
	color: #000000;
}

footer em {
	color: #FFFFFF;
}

footer span {
	display: block;
	margin: 5px 0;
}

body {
   counter-reset: h2-counter; 
}

h2 {
   counter-reset: h3-counter; 
}

h2::before {
   counter-increment: h2-counter;   
   content: counter(h2-counter) ". "; 
   font-weight: bold;
}

h3::before {
   counter-increment: h3-counter;  
   content: counter(h2-counter) "." counter(h3-counter) " "; 
   font-weight: bold;
}

.subtitle {
	text-align: center;
	font-size: 1.2em;
	color: gray	;
	margin-top: -10px;
	margin-bottom: 20px;
}

.logo {
	display: block;
	margin: 0 auto;
	margin-bottom: 20px;
	max-height: 100px;
}

.back-top {
   position: fixed;
   bottom: 30px;
   right: 30px;
   width: 50px;
   height: 50px;
   background-color: #1D428A;
   color: #FFFFFF;
   text-align: center;
   line-height: 50px;
   font-size: 24px;
   border-radius: 50%;
   text-decoration: none;
   font-weight: bold;
   box-shadow: 0 4px 8px rgba(0,0,0,0.3);
   transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
   z-index: 1000;
}

.back-top img {
   width: 100%;
   height: 100%;
   vertical-align: middle;
}

.back-top:hover {
   background-color: #810015;
   transform: scale(1.2);
   box-shadow: 0 6px 12px rgba(0,0,0,0.4);
}

.link-btn {
   text-decoration: none;
   color: #1D428A;
   font-weight: 600;
   padding: 4px 8px;
   border-radius: 6px;
   transition: 0.2s;
}

.link-btn:hover {
   background-color: #1D428A;
   color: #FFFFFF;
}

.pdf-link {
   padding: 4px 4px;
   color: #C8102E;
   border-radius: 8px;
   text-decoration: none;
   font-weight: bold;
   transition: 0.3s;
}

.pdf-link:hover {
   background-color: #C8102E;
	color: #FFFFFF;
}
